[project]
name = "probable-adventure"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "datasets>=4.4.2",
    "genomic-benchmarks>=1.0.0",
    "torch>=2.9.1",
]
